@model IEnumerable<DrSprocExample.DAL.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<div class="jumbotron">
    <h1>Dr Sproc Test Project</h1>
    <p class="lead">Using ASP.NET Framework 4.7.2 and Unity Container for Dependency Injection</p>
    <p><a href="https://github.com/jephbayf1986/DrSproc" class="btn btn-primary btn-lg">More about Dr Sproc &raquo;</a></p>
</div>

<div class="row">
    @Html.ActionLink("Generate New Employeee", "CreateRandomEmployee");
    <br />
    <table class="table table-bordered">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Age
            </th>
            <th>
                Department
            </th>
            <th>
                New?
            </th>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @employee.FullName
                </td>
                <td>
                    @employee.Age
                </td>
                <td>
                    @employee.Department.Name
                </td>
                <td>
                    @Html.ActionLink("Generate", "UpdateEmployeeRandomly", new { employeeId = employee.Id });
                </td>
            </tr>
        }
    </table>
</div>